<a href="https://colab.research.google.com/github/dhiren11lab/AIML--2025/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lab -01: Introduction to python,matplotib,Numpy

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
list1 =[1,2,3,4]
array1=np.array(list1)
array1
array2=np.array([1,2,3,4])
list1, array1, array2

([1, 2, 3, 4], array([1, 2, 3, 4]), array([1, 2, 3, 4]))

In [4]:
##Identify the type of Data Structure
type(list1) , type(array1), type(array2)

(list, numpy.ndarray, numpy.ndarray)

In [ ]:
## Perform mathemetical operations on array lists
print("Adding two arrays:(Array1+Array2)")

In [5]:
print(f"Adding{array1}with {array2}")
print(f"Result: {np.add(array1,array2)}")

Adding[1 2 3 4]with [1 2 3 4]
Result: [2 4 6 8]

In [6]:

print("Sine value of array 1:{np.sin(array1)}")
print("Log value of array 1:{np.sin(array1)}")
print("Log base 2 value of array1:{np.log2(array1)}")
print("LOg bale 10 value of array1:{np.log10(array1)}")
print("Exponential value of array1 :{np.exp(array1)}")

Sine value of array 1:{np.sin(array1)}
Log value of array 1:{np.sin(array1)}
Log base 2 value of array1:{np.log2(array1)}
LOg bale 10 value of array1:{np.log10(array1)}
Exponential value of array1 :{np.exp(array1)}